#cover { margin-top: 20%; }
p      { text-indent: 0px; }
h2     { margin: 1em 0; }
h3     { margin: 0.8em 0; }
h4     { margin: 0.7em 0; }
pre    { margin: 1em 0; }
.image { text-align: center; margin: 1em 0; }
